@charset "UTF-8";
/* 共通仕様 */
/* 共通仕様 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  color: #333;
  line-height: 1.8;
}

a img {
  /* 画像をリンク設定した時に出るborderの消去 */
  border: 0px none #fff;
  background: transparent;
}

a:link {
  /* リンクカラー */
  color: #333;
  text-decoration: none;
}

a:visited {
  /* 訪問済みのリンクカラー */
  color: #333;
  text-decoration: none;
}

a:hover {
  /* ホバー時のリンクカラー */
  color: #900;
  text-decoration: none;
}

ul,
ol,
li {
  /*  */
  list-style-type: none;
}

/* -------- mainVisual --------- */
.mvtxt p {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  color: tomato;
}

#main {
  width: 600px;
}

#main p {
  margin: 0 0 1em;
}

#main p em {
  color: #f00;
}

#main small {
  font-size: small;
}

.ly-header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.ly_content {
  max-width: 320px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg_mainVisual {
  width: 100%;
}

.bg_introduction {
  width: 100%;
}
