.ly_header,
.ly_footer {
  width: 100%;
  margin: 0 auto;
  padding: 1% 4%;
  background-color: #ddd; /* 配置確認用 */
}

//header
.ly_header {
  height: 8rem;
}

// header,footer及びfullwidthのimg以外のレイアウト
.ly_content {
  width: 100%;
  max-width: 90%;
  padding: 5rem 1rem;
  margin-right: auto;
  margin-left: auto;
  & > h1,
  h2 {
    text-align: center;
  }
}

// 768px以上共通設定
@media screen and (min-width: 768px) {
  .ly_header {
    height: 10rem;
  }
  .ly_content {
    max-width: 90%;
  }
  .ly_content_col {
    // display: flex;
  }
}

// 960px以上共通設定
@media screen and (min-width: 960px) {
  .ly_content {
    max-width: 70%;
  }
}

// // タブレットサイズ設定
// .ly_content_col {
//   justify-content: space-between;
// }

// // PCサイズ設定
// .ly_content_col {
//   justify-content: center;
// }

/* introduction */

/* main visual */

.ly_mvBtn {
  position: absolute;
  top: 84%;
  left: 16%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* feature */

.ly_ftContactTxt {
  margin-bottom: 6rem;
}

/* WORK */

.ly_workContent {
  max-width: 100%;
  background-image: url(../img/bg-works.jpeg);
  padding: 5rem 2rem;
  & p {
    margin-bottom: 5rem;
  }
}

.ly_workItem {
  text-align: center;
  // justify-content: center;
  // padding: 10%;
}

/*  About  */

/*  コンタクトフォーム  */
.ly_contactTxt {
  margin-bottom: 8%;
}

.ly_contactList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.ly_CL_left {
  flex-basis: 35%; //pcサイズの時に要変更
}

.ly_CL_right {
  flex-basis: 65%; //pcサイズの時に要変更
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5%;
  width: 100%;
}

.ly_contactBtn {
  margin: 0 auto;
  text-align: center;
}

// 768px以上共通設定
@media screen and (min-width: 768px) {
  .ly_contactList {
    // flex-direction: row;
    width: 80%;
    margin: 0 auto;
  }
}

/* footer */
.ly_footer {
  padding: 5%;
}

.ly_footerNav {
  margin: 3% 5%;
}

.ly_copyright {
  text-align: center;
}

/* faq price compare */

.ly_PC_left {
  flex-basis: 70%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5%;
}

.ly_PC_right {
  flex-basis: 30%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2%;
  margin-bottom: 5%;
}
