.ly_header,
.ly_footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1% 4%;
}

// header,footer及びfullwidthのimg以外のレイアウト
.ly_content {
  max-width: 320px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
  & > h2 {
    text-align: center;
  }
}

/* introduction */

/* main visual */

.ly_mvBtn {
  position: absolute;
  top: 84%;
  left: 16%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* feature */

.ly_ftContactTxt {
  margin-bottom: 8rem;
}

/* WORK */

// .ly_workContent {
//   padding: 60px 15px;
//   // margin-right: auto;
//   // margin-left: auto;
//   & > h2 {
//     text-align: center;
//   }
// }

.ly_workItems {
  padding: 60px 15px;
  background-image: url(../img/bg-works.jpeg);
  & > h2 {
    text-align: center;
  }
}

.ly_workItem {
  text-align: center;
  padding: 6%;
}

/*  About  */
.ly_aboutList {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.ly_AL_left {
  flex-basis: 30%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5%;
}

.ly_AL_right {
  flex-basis: 70%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

/*  コンタクトフォーム  */
.ly_contactTxt {
  margin-bottom: 8%;
}

.ly_contactList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.ly_CL_left {
  flex-basis: 100%; //pcサイズの時に要変更
}

.ly_CL_right {
  flex-basis: 60%; //pcサイズの時に要変更
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5%;
  width: 100%;
}

.ly_contactBtn {
  margin: 0 auto;
  text-align: center;
}

/* footer */
.ly_footer {
  padding-top: 3%;
}

.ly_footerNav {
  margin: 3% 5%;
}

.ly_copyright {
  text-align: center;
}
