.el_btn {
  display:inline-block;
  width:120px;

}

.el_scroll_btn{
  display:flex;
  flex-direction:column;
  width:5rem;
  text-align:center;
  color:#fff;
  background-color:#777;
  opacity:0.6;
  margin:0 auto;
}