.el_btn {
  display: inline-block;
  width: 120px;
}

.el_scroll_btn {
  display: flex;
  // flex-direction: column;
  width: 6.4rem;
  height: 6.4rem;
  // text-align: center;
  // color: #fff;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.5;
  z-index: 6;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  align-items: center;
  justify-content: center;
}
